*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body{
width : 100%;
}


.main {
  display: flex;
  flex-direction: row;
  min-height: 200vh;
}

.gauche {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  height: 80%;
}

.basket {
  flex-grow: 1;
  display: flex;
  justify-content: end;
  height: 20%;
}

.content {
  flex-wrap: wrap;
  display: flex;
  flex-direction: row;
  width:100%;
}

header {
  background-color: #333;
  color: white;
  text-align: center;
  min-height: 10vh;
}

.header-content {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #333;
  color: white;
  text-align: center;
  min-height: 10vh;
}

footer {
  background-color: #333;
  color: white;
  text-align: center;
  min-height: 10vh;
}

.container-cart {
  background-color: #f0f0f0;
  width: 20%;
  height: 100%;
  position: fixed;
  display: flex;
  flex-direction: column;
  align-items: center;
  bottom: 0;
  right: 0;
}

.cart {
  background-color: #f0f0f0;
  width: auto;
  position: fixed;
  display: flex;
  flex-direction: column;
  align-items: center;
  color: black;
}

.basket_Header {
  z-index: 999;
}
