@media only screen and (min-width: 600px) {
.card {
  display: flex;
  flex-direction: row;
  border: 1px solid #ddd;
  border-radius: 8px;
  margin: 10px;
}

.image-container-produit {
  flex: 1;
  overflow: hidden;
  height: 100px;
  width: 50px;
}

.info-container {
  flex: 2;
  padding: 10px;
  display: flex;
  flex-direction: column;
}

.centered {
  text-align: center;
}

.price-container {
  display: flex;
  font-size: 20px;
  width: 50%;
}

.prices-containers {
  display: flex;
  flex-direction: row;
  font-size: 20px;
  justify-content: space-around;
}

.left-align {
  text-align: left;
}

.right-align {
  text-align: right;
}

.image-container {
  width: 300px;
  height: 100px;
  overflow: hidden;
}
}