.main {
  flex-direction: column;
}

.gauche {
  height: auto;
}

.basket {
  height: auto;
}

.content {
  width: 100%;
}

.card {
  width: 100%;
  flex-direction: column;
  border: 1px solid #ddd;
  border-radius: 8px;
  margin: 10px;
}

.container-cart {
  width: 100%;
}

.image-container{
  display : flex;
  flex-direction : row;
  justify-content : center;
  width:100%;
  height:100px;
}

.prices-containers{
  display:flex;
  flex-direction:row;
  justify-content: space-around;
  align-items:center;
}

.centered {
  text-align: center;
}

.price-container {
  width: 50%;
  display: flex;
  flex-direction: column;
  align-items: center;
}
