/* Mobile Styles */
@media only screen and (max-width: 600px) {
    .main {
      flex-direction: column;
    }
  
    .gauche {
      height: auto;
    }
  
    .basket {
      height: auto;
    }
  
    .content {
      width: 100%;
    }
  
    .card {
      width: 100%;
    }
  
    .container-cart {
      width: 100%;
    }
  }
  